<%- include ('templates/adminHeader.ejs') %>
<%- include('templates/adminNav.ejs') %>

<main>
    <h2>Editar artículo</h2>
    <form id="formulario" action="/admin/articulo/editar/<%= articulo._id %>" method="post" enctype="multipart/form-data">
        <p>Editar un artículo</p>
        <h2><%= articulo._id %></h2>
        <label for="titulo">Título:</label>
        <input type="text" placeholder="<%= articulo.titulo %>" name="titulo">
        <label for="contenido">Contenido:</label>
        <textarea name="contenido"><%= articulo.contenido %></textarea>
        <input type="hidden" name="articleId" value="<%= articulo._id %>">
        <button type="submit" id="editaArticulo" class="btn">Editar artículo</button>
    </form>
</main>

<%- include ('templates/adminFooter.ejs') %>
